.logged{
    height: 600px;
    padding: 15rem;
    background-image: url('https://github.com/avanimathur/Studentify/blob/5c2ab1a09ab7e922dd6ee1cf6be6014780ffdf59/img/back.jpg');
}
.Authenticate {
    height: 300px;
    text-align: center;

}
.logged p{
    text-align: center;
    text-decoration: underline;
    color: azure;
    font-size: large ;
}
.sign-up , .log-in{
    text-align: center;
}
